:root {
  --text-color-primary: #333333;
  --text-color-secondary: #ffffff;
  --color-brand: #28a745;
  --background-color-primary: #ffffff;
  --background-color-blog: #0284d0;
  --background-color-footer: #333333;
  --background-color-header: rgba(0, 0, 0, 0.8);
  --background-gradient-wrapper: rgba(0, 0, 0, 0.4);
  --color-text-hero: #e9e9e9;
  --color-text-other: #808080;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1360px;
  padding: 0 28px;
  margin-left: auto;
  margin-right: auto;
}

/* header styles */

.wrapper {
  position: relative;
  background-image: linear-gradient(
      0deg,
      var(--background-gradient-wrapper),
      var(--background-gradient-wrapper)
    ),
    url('../images/background-wrapper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: fixed;
  min-height: 70px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.active {
  background-color: var(--background-color-header);
}

/* Navigation general styles */

.nav-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo styles */

.logotype {
  font-size: 35px;
  line-height: 1.21;
  color: var(--text-color-secondary);
}

.logo-piece {
  color: var(--color-brand);
}

/* Navigation styles */

.nav-pages-list {
  display: flex;
  column-gap: 37px;
}

.nav-page-link {
  position: relative;
  padding: 21px 0;

  font-size: 18px;
  line-height: 1.56;
  color: var(--text-color-secondary);

  transition: color 250ms ease-in-out;
}

.nav-page-link:hover,
.nav-page-link:focus {
  color: var(--color-brand);
}

.nav-page-link::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-brand);

  transform: scaleX(0);
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.nav-page-link:hover::after,
.nav-page-link:focus::after {
  transform: scaleX(1);
}

/* Hero styles */

.hero {
  padding-top: 279px;
  padding-bottom: 284px;

  text-align: center;
}

.hero-title {
  margin-bottom: 25px;

  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: var(--color-text-hero);
  text-transform: capitalize;
}

.hero-text {
  margin-bottom: 29px;

  font-size: 22px;
  line-height: 1.68;
  color: var(--color-text-hero);
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 9px;

  font-size: 18px;
  line-height: 1.56;
  cursor: pointer;
  border: 1px solid var(--color-brand);
  border-radius: 5px;
  color: var(--text-color-secondary);
  background-color: var(--color-brand);

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    border-color 250ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
  border-color: var(--background-color-primary);
  background-color: var(--background-color-primary);
  color: var(--color-brand);
}

.hero-button-icon {
  margin-right: 6px;
  fill: currentColor;
}

/* Services styles */

.services {
  padding-top: 40px;
  padding-bottom: 19px;
}

.services-list {
  display: flex;
  column-gap: 71px;
  text-align: center;
}

.services-item {
  width: calc((100% - 142px) / 3);
}

.services-title {
  margin-bottom: 16px;
  font-weight: 400;

  font-size: 20px;
  line-height: 1.65;
}

.services-text {
  font-size: 18px;
  line-height: 1.56;
}

/* Solutions styles*/

.solutions-container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.solutions-desc {
  background-color: var(--color-brand);
  color: var(--text-color-secondary);
  padding: 112px 44px 113px 30px;
}

/* Business-cases styles */

.business-cases {
  padding-top: 50px;
  padding-bottom: 48px;
  text-align: center;
}

.business-cases-descr {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 15px;
}

.business-cases-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 34px;
}

.business-cases-text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 39px;
}

.business-cases-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px 8px;
}

.business-cases-item {
  width: 320px;
  height: 214px;
}

/* Blog styles, solutions-revers styles */

.revers {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
}
.blog-desc {
  background-color: var(--background-color-blog);
  color: var(--text-color-secondary);
  padding: 112px 44px 113px 30px;
}
.blog-subtitle,
.solutions-subtitle {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 5px;
}
.blog-title,
.solutions-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-transform: capitalize;
  margin-bottom: 26px;
}
.blog-text,
.solutions-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 28px;
}
.blog-button,
.solutions-button {
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  padding: 11px 31px 10px 42px;
  border: 1px solid var(--background-color-primary);
  border-radius: 5px;
}

/* Team sections */

.team {
  padding-top: 49px;
  padding-bottom: 59px;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 16px;

  font-size: 20px;
  line-height: 1.65;
}

.team-title {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.team-description {
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 1.56;
}

.team-list {
  display: flex;
  column-gap: 15px;
}

.team-item {
  width: calc((100% - 30px) / 3);
}

.team-item:hover .network-wrapper {
  opacity: 1;
  cursor: pointer;
}

.teammates {
  padding-top: 13px;
  padding-bottom: 57px;
}

.teammate-name {
  margin-bottom: 12px;

  font-size: 25px;
  line-height: 1.28;
}

.teammate-position {
  font-size: 18px;
  line-height: 1.56;
}

/* Network styles */

.network-thumb {
  position: relative;
}

.network-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms linear;
}

.network {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.network-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* color: var(--text-color-secondary); */
}

.network-icon {
  fill: var(--text-color-secondary);
}

.network-link:hover .network-icon {
  fill: var(--color-brand);
}

/* Callback form styles */

.callback-items {
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-text-other);
  padding: 5px 0px 6px 5px;
}

.send-button {
  border: 1px solid var(--color-brand);
  background-color: var(--color-brand);
  border-radius: 5px;
  padding: 7px 0px 10px;
  font-size: 18px;
  line-height: 1.38;
}

/* Footer styles*/

.footer {
  background-color: var(--background-color-footer);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  column-gap: 25px;
  color: #ffffff; /*убрать после добавления иконок  и буквы "а" в ссылках*/
}

.footer-text {
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--text-color-secondary);
}
